<div class="container__big-card">
  <div class="big-card__photo">
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP6dAmZvF5keJskLHMoTNuKK30HfA-iVV50Q&s"
        alt=""
    >
  </div>
  <div class=" big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__descripton">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quidem officiis aliquid sed a consectetur, modi numquam.
      Corrupti et nihil in molestias non accusamus? Rerum iste vero provident saepe soluta.
    </p>
  </div>
</div>
